:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color-main: #000028;
  --title-color-main: #000028;
  --title-color-alternative: #ff0070;
  --title-bg-color: #ff0070;
  --article-color: #f1b2ce;
  --pj-name-color: #db00ff;
  --shadow-color: #ff0070;
  --shadow-color-alt: #ff0070;
  --decoration-color: #ff0070;
  --nav-border-color: #ff0070;
  --link-border-color: #f1b2ce;
}
