:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color-main: #fff1f7;
  --title-color-main: #353430;
  --title-color-alternative: #353430;
  --title-bg-color: #ff8dcb;
  --article-color: #353430;
  --pj-name-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --decoration-color: #353430;
  --nav-border-color: #353430;
  --link-border-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color-main: #fff1f7;
    --title-color-main: #353430;
    --title-color-alternative: #353430;
    --title-bg-color: #ff8dcb;
    --article-color: #353430;
    --pj-name-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --decoration-color: #353430;
    --nav-border-color: #353430;
    --link-border-color: #353430;
  }
  html.theme-auto .decoration-text {
    display: none;
  }
}

html.theme-light .decoration-text {
  display: none;
}

@media (width > 768px) {
  html.theme-light .footer__project-name {
    text-shadow: 2px 2px var(--shadow-color-alt);
  }
}

@media (width > 768px) and (prefers-color-scheme: light) {
  html.theme-auto .footer__project-name {
    text-shadow: 2px 2px var(--shadow-color-alt);
  }
}
